{% extends ["layouts/main_theme.html.twig"] %}

{% block body %}

    <div id="end" class="end"></div>

{% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('build/jsx/app.js') }}"></script>
        {% endblock %}