{% extends ["layouts/main_theme.html.twig"] %}

{% block body %}

    <div id="pad" class="end"></div>

    <style>
        #pad a{
            padding: 5px;
            color: white;
            background: black;
            border-radius: 34%;
            margin: 10px;
        }
    </style>

{% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('build/jsx/app.js')~'?v='~'now'|date('Y-m-d H:i:s') }}"></script>
        {% endblock %}

