.idea
node_modules
composer.lock
package-lock.json
yarn.lock

public/build/manifest.js
public/build/manifest.json
public/build/vendor.css
public/build/vendor.js

/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor/