#login_form
{
  width: 400px;
  margin: 0px auto;
  text-align: center;
  background-color: #e8f3fd;
  padding: 25px 12px 8px 12px;
  margin-top: 40px;
}
#root_main
{
  width: 1200px;
  margin: 0px auto;
}
#root_aside
{
  border: 1px solid #dad0d0;
}
#root_content
{
  border: 1px solid #dad0d0;
}
#root_top
{
  text-align: center;
  margin: 30px;
}
.underline
{
  text-decoration: underline;
}

td {
  border: 1px solid black;
  text-align: center;
  padding: 2px 5px 2px 5px !important;
}

.Button {
  background-color: #6f001b;
  border-radius: 28px;
  border: 0;
  box-shadow: 0px 1px 1px #d9d9d9;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 15px;
  text-decoration: none;
  transition-duration: 0.1s;
  transition-property: transform;
}
.Button:hover {
  transform: scale(1.1);
}
.RatingOn
{
  color:red;
}
.Actions span
{
  padding: 2px 5px 2px 5px;
  margin: 0px 2px 0px 2px;
  border-radius: 9px;
  background-color: #dfdff3;
  position: relative;
  display:inline-block;
}