#login_form
{
  width: 400px;
  margin: 0px auto;
  text-align: center;
  background-color: #e8f3fd;
  padding: 25px 12px 8px 12px;
  margin-top: 40px;
}
#root_main
{
  width: 1200px;
  margin: 0px auto;
}
#root_aside
{
  border: 1px solid #dad0d0;
}
#root_content
{
  border: 1px solid #dad0d0;
}
#root_top
{
  text-align: center;
  margin: 30px;
}
.underline
{
  text-decoration: underline;
}

td {
  border: 1px solid black;
  text-align: center;
  padding: 2px;
}